/*
 *= require chosen
 *= require_self
 */

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'bootstrap/scss/bootstrap';
@import 'toastr/toastr';

@import 'colors';
@import 'courses';
@import 'custom';
@import 'footer';
@import 'global';
@import 'icons';
@import 'override_carrosel';
@import 'override_paginate';
@import 'iframe';
@import 'admin/admin';
@import 'filter';
@import 'layout';
@import 'errors';
@import 'animation';
@import 'global';
@import 'login';
@import 'comment';
